{:paths ["src" "resources"]
 :deps {io.github.timokramer/charm.clj {:git/tag "v0.1.61" :git/sha "9702ff7e87974daaf18c3080b43b7809efed13c1"}
        io.github.andersmurphy/hyperlith {:git/sha "1e8808cc242e1dbcc25992a6fdbd7eb2454a1633"}}}
